<div style="background-color:  #e0e0d2; border: 3px #33ccff solid;">
<tr>
  <td>
    <p> <%= findUser(description.user_id) %> says: </p>
    <p style="border: 3px  #ffffb3 solid; background-color: #ffd480"> <%= description.description %></p>
    <br>
    <p>Rated this product: <%= description.rating %>/5</p>
    <% if current_user %>
    <% if current_user.id == description.user_id %>
    <%= form_for :review, url: "/products/#{description.product_id}/reviews/destroy" do |f| %>
  <p>
     <%= f.hidden_field :user_id, value: description.user_id %>
  </p>
    <%= f.hidden_field :product_id, value: description.product_id %>
    <%= f.hidden_field :id, value: description.id %>
  <p>
    <%= f.submit "Delete Review" %>
  </p>
  <% end %>
  <% end %>
  <% end %>
  </td>
</tr>
</div>
